apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        # Extract trace IDs from logs for correlation
        - datasourceUid: prometheus
          matcherRegex: "trace_id=(\\w+)"
          name: TraceID
          url: '$${__value.raw}'
        # Extract transaction hashes
        - matcherRegex: "tx_hash=([0-9a-fA-Fx]+)"
          name: TxHash
          url: 'https://etherscan.io/tx/$${__value.raw}'
    version: 1
