interactions:
- request:
    body: null
    headers:
      Accept-Datetime-Format:
      - UNIX
      Authorization:
      - DUMMY
      Content-Type:
      - application/json
    method: GET
    uri: https://api-fxpractice.oanda.com/v3/accounts/001-001-1234567-001
  response:
    body:
      string: '{"account":{"id":"001-001-1234567-001","balance":"100000.00","NAV":"100000.00","unrealizedPL":"0.00","marginUsed":"0.00","marginAvailable":"100000.00","positionValue":"0.00","openPositionCount":0,"currency":"USD"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
