.fht-cell {
	 margin: 5px;
}
 div.tooltip-inner {
	 background-color: #101d49;
}
 button.btn.btn-secondary.dropdown-toggle {
	 padding: 0.4rem 1rem;
}
 a.dropdown-item.active, a.dropdown-item:active {
	 background-color: #012d6a;
}
 a.page-link {
	 color: #4b7d76;
}
 a.page-link:hover {
	 color: #4b7d76;
	 text-decoration: none;
}
 li.active > a.page-link:hover {
	 color: white;
	 background: #012d6a;
	 text-decoration: none;
}
 li.active > a.page-link {
	 background-color:#4b7d76;
	 border-color: #4b7d76;
}
 a.dropdown-item:hover {
	 text-decoration: none;
}
 .slick-list.draggable .slick-track {
	 min-height: 180px;
}
 .flex-basis-100 {
	 flex-basis: 100%;
}
 h2.accordion-header button.accordion-button {
	 background: #6fb7ac;
	 color: #fff;
}
 h2.accordion-header button.accordion-button:focus, h2.accordion-header button.accordion-button:not(.collapsed) {
	 box-shadow: none;
}
 .accordion-button:after, .accordion-button:not(.collapsed)::after {
	 background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z" fill="%23ffffff"></path></g></svg>');
}
 .accordion-button.has-black:after, .accordion-button.has-black:not(.collapsed)::after {
	 background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z" fill="%23000000"></path></g></svg>') 
}
 @media (max-width: 991px) {
	 .flex-basis-md-100 {
		 flex-basis: 100%;
	}
	 div.search-box, div.search-box-google {
		 top: 76px;
	}
}
