/* ## corrects possible view port issues in browsers that do not recognize the viewport meta tag ## */
/* http://timkadlec.com/2013/01/windows-phone-8-and-device-width/ */
 @-webkit-viewport {
	 width: device-width;
}
 @-moz-viewport {
	 width: device-width;
}
 @-ms-viewport {
	 width: device-width;
}
 @-o-viewport {
	 width: device-width;
}
 @viewport {
	 width: device-width;
}
 ::-moz-selection {
	 background: #6fb7ac;
	 text-shadow: none;
}
 ::selection {
	 background: #6fb7ac;
	 text-shadow: none;
}
 hr {
	 display: block;
	 height: 1px;
	 border: 0;
	 border-top: 1px solid #ccc;
	 margin: 1em 0;
	 padding: 0;
}
 img {
	 max-width:100%;
	 height:auto !important;
	 vertical-align: middle;
}
 fieldset {
	 border: 0;
	 margin: 0;
	 padding: 0;
}
 textarea {
	 resize: vertical;
}
 p {
	 margin:0 0 1em 0;
}
 .ir {
	 background-color: transparent;
	 border: 0;
	 overflow: hidden;
	 *text-indent: -9999px;
}
 .ir:before {
	 content: "";
	 display: block;
	 width: 0;
	 height: 100%;
}
 .hidden {
	 display: none;
	 visibility: hidden;
}
 .visuallyHidden, .visually-hidden {
	 border: 0;
	 clip: rect(0 0 0 0);
	 height: 1px;
	 margin: -1px;
	 overflow: hidden;
	 padding: 0;
	 position: absolute;
	 width: 1px;
}
 .visuallyHidden.focusable:active, .visuallyHidden.focusable:focus, .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
	 clip: auto;
	 height: auto;
	 margin: 0;
	 overflow: visible;
	 position: static;
	 width: auto;
}
 .invisible {
	 visibility: hidden;
}
 .clearfix:before, .clearfix:after {
	 content: "";
	 display: table;
}
 .clearfix:after {
	 clear: both;
}
 .clearfix {
	 zoom: 1;
}
 .hide {
	 display:none;
}
 .smallest {
	 font-size:.8em;
}
 .smaller {
	 font-size:.9em;
}
 .larger {
	 font-size:1.1em;
}
 .largest {
	 font-size:1.2em;
}
 .bold {
	 font-weight:bold;
}
 .semibold {
	 font-weight:600;
}
 .italic {
	 font-style:italic !important;
}
 .strike {
	 text-decoration:line-through !important;
}
 .red, .red:visited {
	 color:#f00 !important;
}
 .green, .green:visited {
	 color:#390 !important;
}
 .lgreen, .lgreen:visited {
	 color:#97937d !important;
}
 .bgYellow {
	 background:yellow;
}
 .bgGreen {
	 background:lime;
}
 .vtop {
	 vertical-align:top;
}
 .center {
	 text-align:center;
}
 .left {
	 text-align:left;
}
 .right {
	 text-align:right;
}
 .floatLeft {
	 float:left;
}
 .floatRight {
	 float:right;
}
 .imgLeft {
	 float:left;
	 margin-right:5px;
	 padding:5px;
	 border:1px solid #c4c4c4;
}
 .imgRight {
	 float:right;
	 margin-left:5px;
	 padding:5px;
	 border:1px solid #c4c4c4;
}
 .nowrap {
	 white-space:nowrap;
}
 .borderless {
	 border:0;
	 border-collapse:collapse;
}
 .breakforprint {
	 page-break-after:always;
}
 .clear {
	 overflow:hidden;
	 clear:both;
	 height:0;
	 margin:0;
	 font-size:1px;
	 line-height:0;
}
 .skip {
	 position:absolute;
	 left:-10000px;
	 width:1px;
	 height:1px;
	 overflow:hidden;
}
 .important {
	 color:red;
	 font-weight:bold;
	 text-transform:uppercase;
}
 .js-click-user *:focus, .js-click-user *:active {
	 outline:0;
}
/* ## Base List styles ## */
 ul, ol {
	 margin:0 0 1em;
}
 .noBullet {
	 padding:0 0 0 1em;
	 list-style-type:none;
}
 .noIndent {
	 padding:0;
	 list-style-type:none;
}
 .bulletSquare {
	 list-style-type:square;
}
/* ================================================================ PRIMARY LAYOUT STYLES ================================================================ */
/* ## Disabled Form Fields ## */
 input[disabled=true] {
	 background-color: #F0F0F0;
}
 textarea[disabled=true] {
	 background-color: #F0F0F0;
}
 select[disabled=true] {
	 background-color: #F0F0F0;
}
 input[readonly=true] {
	 background-color: #F0F0F0;
}
 textarea[readonly=true] {
	 background-color: #F0F0F0;
}
 select[readonly=true] {
	 background-color: #F0F0F0;
}
 h1 {
	 font-size: 1.75rem;
}
 h2 {
	 font-size: 1.5rem;
}
 h3 {
	 font-size: 1.3rem;
}
 h4 {
	 font-size: 1rem;
}
 h5 {
	 font-size: 1rem;
}
 h6 {
	 font-size: .9rem;
}
 h1, h2, h3, h4, h5 {
	 color:#012d6a;
	 margin:0 0 .9rem 0;
	 font-weight:bold;
}
 a, a:visited {
	 color:#4b7d76;
	 text-decoration:underline;
}
 a:hover, a:active, a:focus {
	 color:#01439f;
	 text-decoration:underline;
}
 h1 a, h2 a, h3 a, h4 a, h5 a, .title a {
	 color:currentColor !important;
	 text-decoration:none;
}
 .svg-legend {
	 height: 0;
	 position: absolute;
	 top: -999em;
	 width: 0;
}
 iframe {
	 max-width:100%;
}
 ul.link-list {
	 margin:0 0 1rem 0;
	 padding:0;
	 list-style-type:none;
}
 ul.link-list li {
	 margin:0;
	 padding:0.1rem 0 0.1rem 1rem;
}
 ul.link-list li:before {
	 content:'\3e';
	 font-family: 'Basic-Icons';
	 font-size:12px;
	 text-indent:-1rem;
	 float:left;
	 margin-top:6px;
}
 ul.link-list a {
	 text-decoration:none;
}
 ul.link-list a:hover, ul.link-list a:focus {
	 text-decoration:underline;
}
/* ## Start Up Layout ## */
 html {
	 font-size:16px;
}
 body {
	 background:#fff;
	 font-family: 'Nunito', sans-serif;
	 font-weight:300;
	 color:#49494a;
	 font-size:16px;
	/* -ms-overflow-style: scrollbar !important;
	 overflow-y: auto;
	 */
}
 .container {
	 position:relative;
	 margin:0px auto;
	 min-width:16rem;
	 max-width:75rem;
	 -webkit-transition: all .1s linear;
	 -moz-transition: all .1s linear;
	 -ms-transition: all .1s linear;
	 -o-transition: all .1s linear;
	 transition: all .1s linear;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}
 @media (min-width: 768px) {
	 .container {
		 width: 100%;
	}
}
 @media (min-width: 992px) {
	 .container {
		 width: 100%;
	}
}
 @media (min-width: 1200px) {
	 .container {
		 width: 100%;
	}
}
 @media (min-width: 992px) {
	 .table-row {
		 display:table;
		 width:100%;
	}
	 .column {
		 display:table-cell;
		 vertical-align:top;
	}
}
 .form-control {
	 height: 40px;
	 padding: 10px;
	 font-size: 16px;
	 font-weight:300;
	 line-height: 1.42857143;
	 color: #49494a;
	 border: 1px solid #dbdada;
	 border-radius: 3px;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	 box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	 -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
 .alert {
	 overflow:hidden;
	 border: 1px solid #ff6666;
	 margin: 1em 0;
	 padding: 10px;
	 min-height: 50px;
	 color: #fff;
	 background-color: #ff0000;
}
 .alertSign {
	 float:left;
}
 .alertItem {
	 padding:10px 0;
	 margin:0 0 0 50px;
}
 .alert a, .alert .date {
	 color:#fff;
}
 .bdr {
	 border:1px solid #ccc;
	 padding:1px;
}
/* ## PAGE TOOLS ## */
 .page-tools {
	 float:right;
	 display:none;
	 text-align:right;
	 font-weight:600;
}
 .page-tools .icon-print {
	 font-size:20px;
}
 @media only screen and (min-width:48em){
	 .page-tools {
		 display:inline-block;
	}
}
/* ================================================================= PRINT STYLES ===================================================================*/
 @media print {
	 * {
		 background: transparent !important;
		 color: #000 !important;
		 box-shadow:none !important;
		 text-shadow: none !important;
	}
	 a, a:visited {
		 text-decoration: underline;
	}
	 a[href]:after {
		 content:"" !important;
	}
	 abbr[title]:after {
		 content: " (" attr(title) ")";
	}
	 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		 content: "";
	}
	 pre, blockquote {
		 border: 1px solid #999;
		 page-break-inside: avoid;
	}
	 thead {
		 display: table-header-group;
	}
	 tr, img {
		 page-break-inside: avoid;
	}
	 img {
		 max-width: 100% !important;
	}
	 @page {
		 margin: 0.5cm;
	}
	 p, h2, h3 {
		 orphans: 3;
		 widows: 3;
	}
	 h2, h3 {
		 page-break-after: avoid;
	}
	 .main-header {
		 border-bottom:3px solid #101d49;
	}
	 .footer-bottom {
		 border-top:1px solid #ccc;
	}
	 .navbar-fixed-top {
		 left: auto;
		 position: static !important;
		 right: auto;
		 z-index: 1030;
	}
	 .main-content {
		 margin-top:0 !important;
	}
	 .header-top, .main-nav, .alert-section, .bar, .search-box, .search-box-google, .newsletter, .section-nav, .footer-top {
		 display:none;
	}
	 .tabs .tab-pane {
		 display:block !important;
		 visibility: visible;
		 opacity: 1;
	}
	 .collapse {
		 display:block !important;
		 visibility: visible;
		 height:auto !important;
	}
	 .footer-bottom span {
		 display:inline-block !important;
	}
	 .section {
		 padding:2rem 0 !important;
	}
}
 .btn, a.btn {
	 display:inline-block;
	 margin:0;
	 padding:.8rem 2rem;
	 font-weight:600;
	 font-size:13px;
	 text-transform:uppercase;
	 color:#fff;
	 background-color:#4b7d76;
	 border-style:none;
	 text-align:center;
	 text-decoration:none;
	 cursor:pointer;
	 overflow:visible;
	 border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
	 white-space:normal;
}
 .btn:hover, .btn:focus {
	 background-color:#012d6a;
	 color:#fff;
}
 .btn-lg, .btn-group-lg > .btn {
	 font-size: 18px;
	 padding: 15px 40px;
}
 .btn-sm, .btn-group-sm > .btn {
	 font-size: 12px;
	 padding:7px 22px;
}
 .btn-xs, .btn-group-xs > .btn {
	 font-size: 12px;
	 padding: 3px 13px;
}
/* ## Table Wrapper to allow for overflow/scroll on smaller screens ## */
 .table-wrapper {
	 overflow:auto;
}
 table.dataTbl {
	 widtH:100%;
	 display: table;
	 border-collapse:collapse;
	 margin-bottom:20px;
}
 table.dataTbl tr:nth-child(odd) {
	 background:#e6e6e6;
}
 table.dataTbl th {
	 background:#478c26;
	 padding:6px 15px;
	 font-size:1em;
	 border:1px solid #478c26;
	 border-bottom:2px solid #fdd539;
	 color:#fff;
}
 table.dataTbl th a {
	 color:#fff;
	 text-decoration:underline;
}
 table.dataTbl td {
	 vertical-align:top;
	 padding:6px 15px;
	 border:1px solid #E1E1E1;
}
 table.dataTbl td td {
	 border-style:none;
}
 .vd {
	 padding:0 5px;
}
 .figure-right {
	 display:table;
	 max-width:100%;
	 float:right;
	 margin:0 0 15px 20px;
	 border-top:3px solid #000;
	 border-bottom:3px solid #000;
	 padding:5px 0;
}
 .figure-left {
	 display:table;
	 max-width:100%;
	 float:left;
	 margin:0 20px 15px 0;
	 border-top:3px solid #000;
	 border-bottom:3px solid #000;
	 padding:5px 0;
}
 .figure-right figcaption, .figure-left figcaption {
	 margin-top:5px;
	 display:table-caption;
	 caption-side:bottom;
	 font-size:0.9em;
}
 .figure-right img, .figure-left img {
	 display: block;
	 width: 100%;
}
 .hidden-info, a.hidden-info {
	 color:#fff;
	 background:#4b7d76;
	 -webkit-transition: all 0s;
	 transition: all 0s;
	 text-decoration:none;
}
 .hidden-info:focus {
	 display:block;
	 padding:10px;
	 width:100%;
	 text-align:center;
}
/* ================================================================= LAYOUT ===================================================================*/
 .main-header {
	 padding:1rem 0;
	 text-align:center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,e4e5e5+7,e6e7e8+22,f5f6f6+50,fbfbfb+64,ffffff+100 */
	 background: rgb(230,230,230);
	/* Old browsers */
	 background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(228,229,229,1) 7%, rgba(230,231,232,1) 22%, rgba(245,246,246,1) 50%, rgba(251,251,251,1) 64%, rgba(255,255,255,1) 100%);
	/* FF3.6-15 */
	 background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(228,229,229,1) 7%,rgba(230,231,232,1) 22%,rgba(245,246,246,1) 50%,rgba(251,251,251,1) 64%,rgba(255,255,255,1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	 background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(228,229,229,1) 7%,rgba(230,231,232,1) 22%,rgba(245,246,246,1) 50%,rgba(251,251,251,1) 64%,rgba(255,255,255,1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 );
	/* IE6-9 */
}
 .main-header .secondary-nav, .main-header .header-buttons {
	 display:none;
}
 @media only screen and (min-width: 992px){
	 .main-header .secondary-nav, .main-header .header-buttons {
		 display:inline-block;
	}
	 .main-header {
		 text-align:left;
	}
}
 .main-header .table-row {
	 width:auto;
	 float:right;
}
 .secondary-nav {
	 list-style-type: none;
	 padding:10px 0 0 0;
	 margin:0;
}
 .site-logo {
	 margin:0px auto;
	 width:140px;
	 display:inline-block;
}
 @media only screen and (min-width: 992px){
	 .site-logo {
		 margin-top:16px;
		 display:inline-block;
		 width:auto;
	}
}
 .secondary-nav li {
	 padding:0;
	 margin:0;
	 display:inline-block;
}
 .secondary-nav li a {
	 color:#012d6a;
	 font-size:14px;
	 font-weight:600;
	 text-decoration:none;
	 padding:0 0 0 4px;
	 float:left;
}
 .secondary-nav li a:after {
	 content:"|";
	 margin-left:10px;
	 font-weight:300;
}
 .secondary-nav li:last-child a:after {
	 content:"";
}
 .search-box, .search-box-google {
	 display:inline-block;
	 text-align:left;
	 position:absolute;
	 top:22px;
	 right:15px;
	 z-index:100;
	/*min-width:227px;
	 */
	 width:227px;
}
 .search-box {
	 min-width:227px;
	 width:auto;
}
 @media only screen and (min-width: 992px){
	 .search-box, .search-box-google {
		 position:relative;
		 top:auto;
		 right:auto;
	}
}
 @media only screen and (min-width: 1200px){
	 .search-box input[type="text"] {
		 min-width:328px;
	}
}
 .search-box button {
	 background:transparent;
	 border-style:none;
	 padding:10px;
	 color:#101d49;
	 position:absolute;
	 right:0;
	 top:0;
	 height:40px;
}
/* ## GOOGLE Search ## */
 .search-box-google {
	 height:40px;
	 overflow:hidden;
}
 @media only screen and (min-width: 1200px){
	 .search-box-google {
		 min-width:328px;
	}
}
 form.gsc-search-box-tools {
	 background:#fff;
	 border: 1px solid #dbdada !important;
	 border-radius: 3px !important;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
	 color: #49494a !important;
	 font-size: 16px !important;
	 font-weight: 300 !important;
	 height: 40px !important;
	 line-height: 1.42857 !important;
	 padding: 3px 0 3px 20px !important;
	 margin:0 !important;
	 transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
}
 .gsib_a {
	 padding:0 !important;
}
 .gsc-input-box {
	 border-style:none !important;
}
 .gsc-input-box-hover, .gsc-input-box-focus {
	 box-shadow:none !important;
}
 input.gsc-search-button {
	 background:transparent url(../../images/icon-search.gif) no-repeat 50% 50% !important;
	 width:30px !important;
	 min-width:30px !important;
	 height:28px !important;
	 border-style:none !important;
}
 .main-header .col-md-9 {
	 padding-left:0;
}
 .main-header .col-md-3 {
	 padding-right:0;
}
 @media only screen and (min-width: 992px){
	 .header-top {
		 text-align:right;
		 margin-bottom:1rem;
	}
}
 .header-buttons {
	 float:right;
}
 .header-buttons ul {
	 margin:0;
	 padding:0;
	 list-style-type:none;
}
 .header-buttons ul li {
	 display:inline-block;
}
 .header-buttons .btn {
	 font-size:14px;
	 padding:0.65rem 1.6rem;
}
 .header-buttons li:first-child {
	 padding-right:12px;
}
 .section {
	 position:relative;
	 padding:2rem 0;
}
 .alert-section {
	 background:#9e2323;
	 border-top:1px solid #fff;
	 padding:8px 0;
	 color:#fff;
}
 .alert-section.theme04 {
	 background:#4b7d76;
}
 .alert-section .container div {
	 font-size:14px;
}
 .alert-section .icon-warning2 {
	 margin:0 5px 0 0;
	 position:relative;
}
 @media only screen and (min-width:768px){
	 .alert-section .icon-warning2 {
		 font-size:20px;
		 margin:0 5px 0 0;
		 top:4px;
	}
}
 @media only screen and (min-width: 992px){
	 .alert-section .table-row {
		 padding-left:2rem;
	}
}
 .alert-section .table-row {
	 display:table;
	 width:100%;
}
 .alert-section .column {
	 display:table-cell;
}
 .alert-section .column:first-child {
	 width:82px;
	 padding-right:10px;
}
 .alert-section .column:last-child {
	 padding-top:4px;
}
 .hero {
	 background:#e9edef;
}
 .hero.theme01 {
	 background:#fff;
}
 .hero .col-md-7 {
	 padding:0;
}
 @media only screen and (min-width: 768px){
	 .hero {
		 margin:0 0 2rem 0;
	}
	 .hero.theme01 {
		 margin:0 0 6rem 0;
	}
	 .hero .col-md-7 {
		 padding-left:15px;
		 padding-right:15px;
	}
}
 @media only screen and (min-width: 1200px){
	 .hero .col-md-7 {
		 padding-left:0px;
		 padding-right:15px;
	}
}
 .hero .col-md-5 {
	 background:#e9edef;
}
 .hero-text {
	 color:#101d49;
	 text-align:center;
	 padding:2rem 1rem;
	 line-height:1.17;
	 height:100%;
}
 .hero-text p:last-child {
	 margin:0;
}
 @media only screen and (max-width: 767px){
	 .home-body .hero-text {
		 padding-bottom:0;
	}
	 .section.hero {
		 padding-top:20px;
	}
}
 @media only screen and (min-width: 768px){
	 .hero .row {
		 overflow: hidden;
	}
	 .hero .row [class*="col-"]{
		 margin-bottom: -99999px;
		 padding-bottom: 99999px;
	}
	 .hero-text {
		 padding:1.5rem 1rem;
	}
}
 @media only screen and (min-width: 992px){
	 .hero-text {
		 padding:2rem 1rem;
	}
}
 @media only screen and (min-width: 1200px){
	 .hero-text {
		 padding:2rem 2.5rem;
	}
}
 .section.theme02 {
	 background:#f6f6e7;
}
 .section.theme03 {
	 background:#f7f8f8;
}
 .section.theme03 h2 {
	 margin:0;
}
 .section.theme03 .link-list {
	 margin:1rem 0;
}
 .section.theme03 .link-list a {
	 color:#114664;
}
 @media only screen and (min-width: 768px){
	 .section.theme03 {
		 padding:3.6rem 0 2.4rem 0;
	}
}
 @media only screen and (min-width: 992px){
	 .section.theme03 .link-list {
		 margin:0;
	}
}
 .newsletter {
	 background:#dee1e3;
	 text-align:center;
}
 @media only screen and (min-width: 768px){
	 .newsletter {
		 padding:3.6rem 0;
	}
}
 @media only screen and (min-width: 992px){
	 .newsletter h2 {
		 margin:0;
	}
}
 .newsletter .table-row {
	 width:auto;
}
 .newsletter .column {
	 padding-right:10px;
	 vertical-align:middle;
}
 .newsletter-form.table-row {
	 display:table;
	 width:auto;
	 margin:0 auto;
}
 .newsletter-form.table-row .column {
	 padding:5px 0;
}
 @media only screen and (min-width: 640px){
	 .newsletter-form.table-row .column {
		 display:table-cell;
		 padding:0 0 0 10px;
		 text-align:center;
	}
}
 .newsletter-form.table-row .column:first-child {
	 text-align:right;
}
 @media only screen and (min-width: 768px){
	 .newsletter input[type="text"] {
		 min-width:280px;
	}
}
 .newsletter .btn {
	 width:236px;
	 border:1px solid #fff;
	 padding:0.7rem 2rem;
}
 @media only screen and (min-width: 640px){
	 .newsletter .btn {
		 width:auto;
	}
}
 .main-footer {
	 text-align:center;
	 color:#fff;
}
 .main-footer a {
	 color:#fff;
}
 .footer-top {
	 background:#1f2b43;
	 padding:1rem 0;
}
 .footer-top ul {
	 padding:0;
	 margin:0;
	 list-style-type:none;
}
 .footer-top ul li a {
	 font-size:14px;
	 text-decoration:none;
	 padding:.5rem 0rem;
	 display:block;
}
 @media only screen and (min-width:768px){
	 .footer-top {
		 padding:2rem 0;
	}
	 .footer-top ul {
		 margin:0 0 0.7rem 0;
	}
	 .footer-top ul li {
		 display:inline-block;
	}
	 .footer-top ul li a:after {
		 content:"|";
		 margin-left:1rem;
		 color:#fff;
	}
	 .footer-top ul li a {
		 padding:0 0 0 1rem;
	}
}
 .footer-top ul li:last-child a:after {
	 content:"";
}
 .footer-bottom {
	 background:#151d2e;
	 padding:1rem 0;
	 font-size:14px;
}
 .footer-bottom span {
	 display:block;
}
 @media only screen and (min-width:768px){
	 .footer-bottom span {
		 display:inline-block;
	}
}
 .slideshow-title {
	 background:#114664;
	 color:#fff;
	 padding:10px 20px;
	 margin:0;
}
 .section.theme01 {
	 padding:0;
}
 @media only screen and (min-width: 768px){
	 .section.theme01 {
		 padding:2rem 0;
	}
}
 @media only screen and (min-width: 992px){
	 .hero-text, .home-body .callouts-list .callout, .section.theme02 .col-md-4, .section.theme03 .column {
		 font-size:1.25rem;
	}
}
 .section.theme02 .col-md-4 h2 {
	 text-align:center;
}
 .section.theme02 .col-md-4 .link-list a {
	 color:#114664;
}
 @media only screen and (max-width: 991px){
	 .section.theme02 .col-md-4 ul.link-list li:before, .section.theme03 ul.link-list li:before {
		 margin-top:3px;
	}
}
 .section.theme03 .column {
	 padding:0 1rem;
	 color:#012d6a;
}
 @media only screen and (min-width: 992px){
	 .section.theme03 .column {
		 padding:0 1rem 0 0;
	}
	 .section.theme02 .col-md-4:nth-child(2) ul {
		 padding-left:4rem;
	}
	 .section.theme02 .col-md-4:last-child ul {
		 padding-left:4rem;
	}
}
 @media only screen and (min-width: 480px){
	 .section.theme03 .column .link-list {
		 -webkit-columns: 2;
		 -moz-columns: 2;
		 columns: 2;
	}
}
 .section.theme03 .column .link-list li {
	 -webkit-column-break-inside: avoid;
	 page-break-inside: avoid;
	 break-inside: avoid;
}
 @media only screen and (min-width: 992px){
	 .section.theme03 .column:last-child {
		 padding:0;
		 width:17%;
		 vertical-align:middle;
	}
	 .section.theme03 .column .btn {
		 padding-left:1rem;
		 padding-right:1rem;
	}
}
 .main-footer hr {
	 border-color:#3e616c;
}
 .main-footer .social-icons a {
	 font-size:1.6rem;
	 text-decoration:none;
	 display:inline-block;
	 margin:0 0 0 10px;
	 vertical-align:middle;
}
 .main-footer .social-icons a:hover, .main-footer .social-icons a:focus {
	 color:#6fb7ac;
}
 .main-footer .social-icons .svg-icon {
	 fill:#fff;
	 width:26px;
	 height:26px;
	 margin:0 0 0 -5px;
}
 .main-footer .social-icons a:hover .svg-icon, .main-footer .social-icons a:focus .svg-icon {
	 fill:#6fb7ac;
}
 .main-footer .social-icons a.icon-rss {
	 font-size:1.2rem;
}
 .main-footer .social-icons h3 {
	 font-size:1.375em;
	 color:#fff;
	 position:relative;
	 top:4px;
}
 @media only screen and (min-width:768px){
	 .main-footer hr {
		 margin:2rem 0;
	}
	 .main-footer .social-icons h3 {
		 display:inline-block;
		 margin:0;
	}
}
 .svg-icon {
	 fill:#6fb7ac;
	 width:60px;
	 height:60px;
}
 .svg-icon-print {
	 fill:#4b7d76;
	 width:30px;
	 height:28px;
	 position:relative;
	 top:-2px;
	 vertical-align:middle;
}
 .bar {
	 border-bottom:1px solid #e9edef;
	 padding:1rem 0;
	 margin:0 0 1.5rem 0;
	 font-size:14px;
}
 .breadcrumbs a:hover, .breadcrumbs a:focus, .breadcrumbs a:active {
	 text-decoration:underline;
}
 .breadcrumbs span.current {
	 font-weight:600;
}
 .bar a {
	 text-decoration:none;
}
 .bar a:hover, .bar a:focus {
	 text-decoration:none;
}
 .bar .icon-bracket-right {
	 font-size:10px;
	 padding:0 3px;
}
 .section.interior {
	 padding-top:0;
}
 .row .main-text {
	 padding-bottom:1rem !important;
}
 @media only screen and (min-width: 992px){
	 .main-text {
		 font-size:1.125rem;
	}
}
 .cards-list .card {
	 background:#eff3f5;
	 text-align:center;
	 font-size:1rem;
	 position:relative;
	 margin-bottom:1.5rem;
}
 .cards-list .card h3 {
	 color:#fff;
	 background:#4b7d76;
	 padding:15px;
	 height:73px;
	 vertical-align:middle;
	 line-height:22px;
	 width:100%;
	 display:table;
	 position:relative;
}
 .cards-list .card h3 span {
	 display:table-cell;
	 vertical-align:middle;
}
 .cards-list .card h3:after {
	 content:"";
	 position:absolute;
	 left:50%;
	 bottom:-12px;
	 margin-left:-15px;
	 width: 0;
	 height: 0;
	 border-left: 18px solid transparent;
	 border-right: 18px solid transparent;
	 border-top: 12px solid #4b7d76;
}
 .cards-list .card.theme01 h3 {
	 background:#4b7d76;
}
 .cards-list .card.theme02 h3 {
	 background:#5f6062;
}
 .cards-list .card.theme03 h3 {
	 background:#52798f;
}
 .cards-list .card.theme04 h3 {
	 background:#012d6a;
}
 .cards-list .card.theme02 h3:after {
	 border-top: 12px solid #5f6062;
}
 .cards-list .card.theme03 h3:after {
	 border-top: 12px solid #52798f;
}
 .cards-list .card.theme04 h3:after {
	 border-top: 12px solid #012d6a;
}
 .cards-list .card .card-text {
	 padding:1rem 1rem 2.5rem 1rem;
}
 .cards-list .card a {
	 position:absolute;
	 bottom:1.3rem;
	 left:1rem;
	 right:1rem;
	 font-size:13px;
	 font-weight:600;
}
 @media only screen and (min-width: 480px){
	 .cards-list {
		 display: flex;
		 display: -ms-flexbox;
		 flex-wrap: wrap;
		 width: 100%;
	}
	 .cards-list .card {
		 width:48%;
		 margin:0 1% 20px 1%;
	}
}
 @media only screen and (min-width: 992px){
	 .cards-list .card {
		 width:23%;
	}
}
/* ## Tabs ## */
 .tabs .nav-tabs {
	 display:table !important;
	 table-layout: fixed;
	 width: 100%;
	 margin:0;
	 border-style:none;
	 padding:0;
}
 .tabs .nav-tabs > li {
	 display: table-cell;
	 vertical-align: middle;
	 float:none;
}
 .tabs .nav-tabs > li > a {
	 display:block;
	 position: relative;
	 text-align: center;
	 background:#101d49;
	 color:#fff;
	 text-decoration:none;
	 padding:1.4rem 1rem;
	 border-radius:5px;
	 -moz-border-radius:5px;
	 -webkit-border-radius:5px;
	 border-style:none;
	 border-bottom:5px solid #1b5473;
	 font-weight:600;
	 margin-right:10px;
}
 .tabs .nav-tabs > li:last-child > a {
	 margin-right:0;
}
 .tabs .nav-tabs > li > a.active, .tabs .nav-tabs > li > a.active:hover, .tabs .nav-tabs > li > a.active:focus {
	 border-top:none;
	 border-left:none;
	 border-right:none;
}
 .tabs .nav-tabs > li > a.active {
	 background:#1b5473;
	 border-bottom:5px solid #6fb7ac;
	 color:#fff;
}
 .tabs .nav-tabs > li > a.active:after {
	 content:"";
	 position:absolute;
	 left:50%;
	 bottom:-17px;
	 margin-left:-15px;
	 width: 0;
	 height: 0;
	 border-left: 18px solid transparent;
	 border-right: 18px solid transparent;
	 border-top: 12px solid #6fb7ac;
}
 .tabs .tab-pane {
	 padding:1rem 0;
}
 .tabs .tab-pane h3 {
	 margin:0;
}
 .tabs .tab-pane p {
	 margin:0;
}
 .tabs .tab-pane .more {
	 font-size:13px;
	 text-transform:uppercase;
	 font-weight:600;
}
 .tabs .tab-pane .tab-item {
	 margin:1rem 0;
}
 .shape {
	 width:30px;
	 height:30px;
	 display:inline-block;
	 float:left;
	 background:#6fb7ac;
	 margin:0 10px 0 0;
}
 .shape.theme02 {
	 background:#52798f;
}
 .shape.theme03 {
	 background:#012d6a;
}
 .shape.theme04 {
	 background:#5f6062;
}
 @media only screen and (min-width: 992px){
	 .tabs .nav-tabs > li > a {
		 font-size:1.375rem;
	}
	 .tab-item {
		 padding-left:3.125rem;
		 position:relative;
	}
	 .shape {
		 position:absolute;
		 top:0;
		 left:0;
	}
}
 .callouts-list {
	 margin:0 0 2rem 0;
}
 .callouts-list .callout {
	 text-align:center;
	 padding:2rem 2rem;
	 border-bottom:1px solid #cdd0d3;
	 position:relative;
	 line-height:1.2;
}
 .callouts-list .callout:last-child {
	 border-bottom:none;
}
 .callouts-list .callout .svg-icon {
	 width:40px;
	 height:40px;
}
 .callouts-list.two-col {
	 margin:0;
}
 .home-body .callouts-list .callout .svg-icon {
	 height: 60px;
	 width: 60px;
}
 @media only screen and (min-width: 768px){
	 .callouts-list {
		 display: -webkit-box;
		 display: -moz-box;
		 display: -ms-flexbox;
		 display: -webkit-flex;
		 display: flex;
		 flex-wrap: wrap;
		 -ms-flex-wrap:wrap;
		 width: 100%;
		 margin:0 0 5rem 0;
	}
	 .callouts-list .callout {
		 width:33%;
		 position:relative;
		 border-bottom:none;
		 padding:0rem 2rem 3rem 2rem;
	}
	 .callouts-list.two-col .callout {
		 width:48%;
		 padding-left:3rem;
		 padding-right:3rem;
	}
	 .callouts-list .callout .btn {
		 position:absolute;
		 bottom:0;
		 margin-left: auto;
		 margin-right: auto;
		 left: 0;
		 right: 0;
		 width:11rem;
	}
	 .callouts-list .callout:after {
		 content:"";
		 position:absolute;
		 top:20%;
		 height:60%;
		 width:1px;
		 right:0;
		 border-right:1px solid #cdd0d3;
	}
	 .callouts-list .callout:last-child:after {
		 display:none;
	}
}
 .button-list {
	 margin:0;
	 padding:0;
	 list-style-type:none;
}
 .button-list li {
	 margin:0 0 20px 0;
	 display:table;
	 width:100%;
}
 .button-list a {
	 display:block;
	 padding:1rem 1rem;
	 font-weight:normal;
	 font-size:1.375rem;
	 color:#fff;
	 background-color:#4b7d76;
	 border-style:none;
	 text-align:center;
	 text-decoration:none;
	 border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
	 height:76px;
	 line-height:22px;
	 display:table-cell;
	 vertical-align:middle;
}
 @media only screen and (min-width: 768px){
	 .button-list {
		 display: flex;
		 display: -ms-flexbox;
		 flex-wrap: wrap;
		 -ms-flex-wrap:wrap;
		 width: 100%;
		 margin:0 -1% 0 -1%;
	}
	 .button-list li {
		 width:48%;
		 margin:0 1% 20px 1%;
	}
}
 @media only screen and (min-width: 992px){
	 .button-list li {
		 width:31.3%;
		 margin:0 1% 20px 1%;
	}
}
 .button-list li:nth-child(6n+1) a {
	 background:#4b7d76;
}
 .button-list li:nth-child(6n+2) a {
	 background:#5f6062;
}
 .button-list li:nth-child(6n+3) a {
	 background:#52798f;
}
 .button-list li:nth-child(6n+4) a {
	 background:#012d6a;
}
 .button-list li:nth-child(6n+5) a {
	 background:#3f5e70;
}
 .button-list li:nth-child(6n+6) a {
	 background:#226158;
}
 .button-list li a:hover, .button-list li a:focus {
	 background:#101d49;
}
 .section-nav {
	 margin-bottom:2em;
}
 .section-nav .title {
	 color:#fff;
	 background:#101d49;
	 margin:0;
	 padding:0;
	 font-size:1.25rem;
}
 .section-nav .title.visible-lg {
	 padding:0.6rem 1rem;
}
 .section-nav .title a {
	 display:block;
	 position:relative;
	 padding:0.6rem 2rem 0.6rem 1rem;
}
 .section-nav .title a:hover, .section-nav .title a:focus {
	 background:#1b5473;
}
 .section-nav .title a:before, .section-nav .title a:after {
	 content:" ";
	 position:absolute;
	 top:50%;
	 background:#fff;
	 -webkit-transform:translateY(-50%);
	 -ms-transform:translateY(-50%);
	 transform:translateY(-50%);
	 -webkit-transition: all .25s ease-out;
	 transition: all .25s ease-out;
}
 .section-nav .title a:before {
	 right:13px;
	 width:16px;
	 height:2px;
}
 .section-nav .title a:after {
	 right:20px;
	 height:16px;
	 width:2px;
}
 .section-nav .title [aria-expanded=true]:before {
	 right:10px;
	 width:24px;
}
 .section-nav .title [aria-expanded=true]:after {
	 height:0;
}
 .section-nav ul {
	 margin:0;
	 padding:0;
	 list-style-type:none;
	 background:#f7f8f8;
}
 .section-nav ul li {
	 margin:0;
	 padding:0;
	 border-top:1px solid #d1d1d1;
}
 .section-nav ul li:first-child {
	 border-style:none;
}
 .section-nav ul li a {
	 color:#012d6a;
	 display:block;
	 padding:0.5rem 1.5rem 0.5rem 1rem;
	 text-decoration:none;
	 font-size:1.125rem;
	 position:relative;
}
 .section-nav ul li a.has-sub:after {
	 position:absolute;
	 right:10px;
	 top:15px;
	 color:#85c1b8;
	 font-size:10px;
	 content:'\3e';
	 font-family: 'Basic-Icons';
	 font-weight:600;
}
 .section-nav ul li a:hover, .section-nav ul li a:focus, .section-nav ul li.active a {
	 background:#dee1e3;
}
 @media only screen and (min-width: 992px){
	 .col-md-9.main-text {
		 padding-left:50px;
	}
	 .section-nav .collapse {
		 display:block !important;
		 height:auto !important;
		 visibility:visible;
	}
}
 .box {
	 border:1px solid #4b7d76;
	 padding:1.6rem 0.6rem;
	 width:310px;
	 max-width:100%;
	 margin:2rem auto 2rem auto;
	 display:unline-block;
	 text-align:center;
	 border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
}
 .btn-set {
	 text-align:center;
}
 .btn-set .btn {
	 margin:0.5rem 1rem;
}
 @media only screen and (min-width: 768px){
	 .btn-set .btn {
		 margin:1rem 2rem;
	}
}
/* ## NAVIGATION ## */
 .nav-section {
	 background:#101d49;
}
 .navbar {
	 background:transparent;
	 border-style:none;
	 margin:0;
	 min-height:46px;
}
 .navbar-nav {
	 margin:0;
}
 .navbar-nav > li > a {
	 padding: 6px 10px;
	 text-decoration:none;
	 color:#012d6a !important;
}
/* --- this was moved for mobile only 05/07/2018 NFISDZT li.extra-link + li:not(.extra-link), li:not(.extra-link) + li.extra-link {
	 border-top:1px solid #5d88a1;
}
 */
 .navbar-nav li:nth-last-child(2) {
	 display:none;
}
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	 background-color: #1b5473;
	 color: #fff !important;
}
 @media screen and (max-width: 991px) {
	 html, body {
		 overflow-x: hidden;
	}
	 li.extra-link + li:not(.extra-link), li:not(.extra-link) + li.extra-link {
		 border-top:1px solid #5d88a1;
	}
	 .row-offcanvas.active .container, .row-offcanvas.active .navbar {
		 position:static;
	}
	 .navbar-toggle {
		 display:block;
		 float:left;
		 border-style:none;
		 background:transparent;
		 padding:10px;
		 border-radius:0;
	}
	 .navbar-toggle:hover, .navbar-toggle:focus {
		 background:#1b5473 !important;
	}
	 .navbar-default .navbar-toggle .icon-bar {
		 background-color:#fff;
	}
	 .row-offcanvas {
		 position: relative;
		 -webkit-transition: all .25s ease-out;
		 -o-transition: all .25s ease-out;
		 transition: all .25s ease-out;
	}
	 .row-offcanvas-left {
		 left: 0;
		 top: 0;
	}
	 .sidebar-offcanvas {
		 position: fixed;
		 top: 0;
		 width: 260px;
		 height:100%;
		 padding:20px 20px 20px 20px;
		 left: 0;
		 transition: transform 0.25s ease-out;
		 transform: translateX(-260px);
	}
	 .row-offcanvas-left.active .sidebar-offcanvas {
		 background: #f5f5f5;
		 -webkit-box-shadow: inset -5px -5px 5px 0px rgba(214,214,215,1);
		 -moz-box-shadow: inset -5px -5px 5px 0px rgba(214,214,215,1);
		 box-shadow: inset -5px -5px 5px 0px rgba(214,214,215,1);
	}
}
 @media screen and (min-width: 992px) {
	 .navbar-nav {
		 padding:0 2rem;
	}
	 .navbar-nav .extra-link {
		 display:none;
	}
	 .navbar-nav {
		 display:table;
		 width:100%;
	}
	 .navbar-nav li {
		 display:table-cell;
		 float:none;
		 vertical-align:top;
	}
	 .navbar-nav > li > a {
		 color:#fff !important;
		 font-size:1.188rem;
		 padding:16px 10px;
		 text-align:center;
	}
	 .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
		 background:#1b5473 !important;
	}
}
/* IE9 fallbacks */
 .ie9 .callouts-list, .ie9 .cards-list {
	 display:table;
}
 .ie9 .callout {
	 display:table-cell;
}
 .ie9 .card {
	 display:table-cell;
	 border:10px solid #fff;
}
 .ie9 .button-list li {
	 float:left;
}
 .modal {
	 overflow-y: auto;
}
 .modal-open {
	 overflow: auto;
}
 .modal-open[style] {
	 padding-right: 0px !important;
}
/* Fixed Header */
 .main-header {
	 min-width:320px;
}
 .main-content {
	 margin-top:137px;
}
 @media screen and (min-width: 992px) {
	 .main-content {
		 margin-top:194px;
	}
}
 .row-offcanvas-left.active .sidebar-offcanvas {
	 transform: translateX(0px);
}
 @media screen and (max-width: 991px) {
	 .row-offcanvas-left.active .main-content, .row-offcanvas-left.active .main-footer {
		 transform: translateX(260px);
	}
	 .row-offcanvas.active .navbar-fixed-top {
		 left: 260px;
	}
	 .navbar-fixed-top, .sidebar-offcanvas, .main-content, .main-footer {
		 transition:all 0.1s ease;
	}
	 .navbar-nav {
		 overflow-x:scroll;
		 height:100%;
	}
}
 .nr-content {
	 overflow-x:auto;
}
/* HH Edits below */
 .box a.btn {
	 margin: 1.15rem 0 1.5rem 0;
}
 .toggle-accordion-wrap {
	 float: right;
	 margin-top: -30px;
	 font-size: 1.75rem;
}
 .toggle-accordion-wrap a, .toggle-accordion-wrap a:visited {
	 color: #000000;
	 text-decoration: none;
}
 .panel-title {
	 width: 90%;
}
 .search-box, .search-box-google {
	 min-width: 0;
}
 